.calc {
    width: 400px;
    border: 1px solid #000;
    padding: 20px 20px 20px 16px;
    background: #000000;
    font-size: 0;
    border-radius: 15px;
}

.calc input[type="text"] {
    text-align: center;
    width: 397px;
    height: 55px;
    font-size: 35px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #000;
}

.calc .btn {
    display: inline-block;
    vertical-align: top;
    width: 31%;
    font-size: 30px;
    outline: none;
    border: 1px solid #000;
    background: #fff;
    margin: 10px 14px 0 0;
    cursor: pointer;
    border-radius: 5px;
}

.calc .btn:hover {
    background: #d6d6d6;
}

.calc .btn:active {
    background: rgba(127, 127, 127, 1);
}

.calc .btn:nth-child(3n) {
    margin-right: 0;
}

.calc .btn.btn--done {
    background: rgba(0, 249, 0, 0.5);
    width: 65%;
    margin-right: 0;
}

.calc .btn.btn--done:hover {
    background: rgba(0, 132, 0, 0.5);
}

.calc .btn.btn--clear {
    width: 399px;
    margin-right: 0;
}